
  
  
  #contenedor {
    margin: 0 auto;
    width: 900px;
    
    }
    #cabecera {
      margin: 0 auto;

    height: 120px;
    
    }
    #cabecera h1 {
      margin: 0 auto;

    margin: 0;
    padding: 25px;
    font: bold 50px arial, helvetica, sans-serif;
    color: white;
    }
    #header {
      margin:auto;
      width:500px;
      font-family:Arial, Helvetica, sans-serif;
    }
    ul, ol {
      list-style:none;
    }
    
    .nav > li {
      float:left;
    }
    
    .nav li a {
      background: url(../html/nose.jpg);
      color:#fff;
      text-decoration:none;
      padding:10px 12px;
      display:block;
      height: 50px;
    }
    
    .nav li a:hover {
      background:url(../html/images.jpg);
    }
    
    .nav li ul {
      display:none;
      position:absolute;
      min-width:140px;
    }
    
    .nav li:hover > ul {
      display:block;
      margin:0px;
      padding:0px;
    }
    
    .nav li ul li {
      position:relative;
      
    }
    
    .nav li ul li ul {
      right:-140px;
      top:0px;
    }
    #inicio{

        font: normal 25px;
            background-repeat: no-repeat;
color: white;
width: 100%;
}
body{

background-image: url(../html/gimnasio3.png);
background-repeat: no-repeat;
background-size: cover;  
}

.card-text{
  font-family: 'Staatliches', cursive; 
  color: white;
}
.card-title{
  color: white;
}
.descripcion{
  font-family: 'Comic Neue', cursive;
}
.barra-navegacion{
  display: flex;
  flex-direction: row;
  
}
header{
  width: 25%;
  background-color: white;
}
nav{
  color: white;
  background-color: white ;
}
.ul-li{
  display: flex;
  flex-direction: row;
}
.li-a{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  color: white;
  display: inline-block;
}
.indice:hover{
  background-color: rgb(54, 54, 243);
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
}
.contenido{
  display:flex;
  flex-direction: row;    
}
.container{
  display:flex;
  flex-direction: row;  
  justify-content: center;
}
p{
  color: white;
}

.fcc-btn {
  background-color:sandybrown;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}
.Logo-usuario{
  border: 1px solid #977344;
  border-radius: 20px;
  width: 50px;
  height: 50px;

}
